1.	Store the DNA sequence in a variable called dna and print it to the screen.

In [25]:
dna = "ATCACGGATTCCACTTACGCAGTTCATTTACAATACTTACTTCCACTGTAC"
print(dna)

ATCACGGATTCCACTTACGCAGTTCATTTACAATACTTACTTCCACTGTAC

2.	Print the length of the DNA sequence.

In [28]:
len(dna)

51

3.	Print the first nucleotide in the DNA sequence.

In [29]:
dna[0]

'A'

4.	Print the last nucleotide in the DNA sequence.

In [30]:
dna[-1]

'C'

5.	Print the first 10 nucleotides of the DNA sequence.

In [31]:
dna[:10]

'ATCACGGATT'

6.	Print the last 10 nucleotides of the DNA sequence.

In [39]:
dna[-10:]

'TCCACTGTAC'

7.	Print the nucleotide at position 15 (assume Python indexing).

In [43]:
dna[14]

'T'

8.	Count and print how many times the nucleotide A appears in the sequence.

In [51]:
dna.upper().count('A')

14

9.	Count and print how many times T appears in the sequence.

In [50]:
dna.upper().count('T')

17

10.	Count how many G and C nucleotides occur in total.

In [52]:
g_count = dna.upper().count('G')
c_count = dna.upper().count('C')
total_gc = g_count + c_count
print(f"Total G and C nucleotides: {total_gc}")

Total G and C nucleotides: 20

11.	Print the DNA sequence in lowercase letters.

In [48]:
dna.lower()

'atcacggattccacttacgcagttcatttacaatacttacttccactgtac'

12.	Print the DNA sequence in uppercase letters (even though it already is).

In [53]:
dna.upper()

'ATCACGGATTCCACTTACGCAGTTCATTTACAATACTTACTTCCACTGTAC'

13.	Print the sequence three times in a row on the same line.

In [59]:
print(dna * 3)

ATCACGGATTCCACTTACGCAGTTCATTTACAATACTTACTTCCACTGTACATCACGGATTCCACTTACGCAGTTCATTTACAATACTTACTTCCACTGTACATCACGGATTCCACTTACGCAGTTCATTTACAATACTTACTTCCACTGTAC

14.	Check whether the substring “TCC” exists in the DNA sequence and print the result.

In [65]:
print('TCC' in dna)

True

15.	Replace all occurrences of “T” with “U” and print the resulting RNA-like sequence.

In [66]:
dna.replace('T','U')

'AUCACGGAUUCCACUUACGCAGUUCAUUUACAAUACUUACUUCCACUGUAC'

In [67]:
dna

'ATCACGGATTCCACTTACGCAGTTCATTTACAATACTTACTTCCACTGTAC'

In [82]:
comp = {'A':'T', 'T':'A', 'G':'C', 'C':'G'}
dna_comp = "".join([comp[base] for base in dna])
rev_comp = dna_comp[::-1]
rev_comp

'GTACAGTGGAAGTAAGTATTGTAAATGAACTGCGTAAGTGGAATCCGTGAT'